<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <!-- <link rel="stylesheet" href="style.css"/> -->
            <meta charset="UTF-8">
            <script src="/static/jquery-2.1.4.min.js"></script>
            <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css">
            <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
            <style>
                .container{
                    width: 80%;
                }
            </style>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <center>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2021 by <a href="http://domain.invalid/">Maple Poet</a>.
            {% endblock %}
        </center>
        </div>
    </body>
</html>